256 color does not work in Materia Magica

256 color does not work in Materia Magica. It does work properly in Aardwolf so Im not sure if the issue is with Materia Magica or Mudlet. 256 color does work when I use MUSHclient in Materia Magica if that matters. I have tried in 2.1 and 3.0delta and still does not work. I use win 8.1 and have also tried on my other pc which runs win 7.

Launchpad Details: [#LP1420537](https://bugs.launchpad.net/bugs/1420537) lights4drowning - 2015-02-10 23:09:24 +0000

How does one enable the 256 colours on it and what is the server and port of the game?

Launchpad Details: [#LPC](https://bugs.launchpad.net/mudlet/+bug/1420537/comments/1) Vadim Peretokin - 2015-02-11 01:50:01 +0000

SET 256-COLOR ON toggles on the 256 color mode. HELP 256-COLOR can be pulled up to view gradients. The 256 color also shows in the wilderness areas. 
This game is pre-loaded on mudlet. The server for Materia Magica is materiamagica.com port 23

Launchpad Details: [#LPC](https://bugs.launchpad.net/mudlet/+bug/1420537/comments/2) lights4drowning - 2015-02-11 02:57:01 +0000

Does this now work - we added support for 256 Colours some time ago (at least since  https://github.com/Mudlet/Mudlet/commit/85f991c7302d4e1695a100c84ae200bc59a16d5d in Aug 2015)?

I have check that log and also in person and I can see that (even with some extra debugging text) there are no 256-color codes being sent even with `color` and `256-color` set to be `on`.  I note that it is possible to switch the latter on and off when the former is switched off and no colour is shown; so it seems that the former overrides the latter.  I took a closer look at the Telnet debugging codes around the time of connection and saw:

    telnet: server wants us to enable option: 24
    server wants us to enable telnet option  24 (TN_DO +  24 )
    OK we are willing to enable telnet option TERMINAL_TYPE
    EOR enabled
    telnet: server wants us to enable option: 31
    server wants us to enable telnet option  31 (TN_DO +  31 )
    OK we are willing to enable telnet option NAWS
    telnet: server wants us to enable option: 39
    server wants us to enable telnet option  39 (TN_DO +  39 )
    SORRY, we are NOT WILLING to enable this telnet option.
    telnet: server wants us to enable option: 42
    server wants us to enable telnet option  42 (TN_DO +  42 )
    SORRY, we are NOT WILLING to enable this telnet option.
    MCCP v2 negotiated!
    GMCP enabled
    cTelnet::processTelnetCommand() TN_DONT command= 24
    checking mccp start seq...
    MCCP version 2 starting sequence
    -1 , -6 , 86 , -1 , -16
    cTelnet::processTelnetCommand() TN_WONT command= 1
    cTelnet::processTelnetCommand() we dont accept his option because we didnt want it to be enabled

**Note that the MUD is looked to find out what the client is with a Telnet *24* negotiation** (although the DONT later on is not required and a little bit odd).

The other options seen there are:

31. Negotiate About Window Size ([RFC1073](http://www.iana.org/go/rfc1073))- which we do handle.
39. New Environment Option ([RFC1572](http://www.iana.org/go/rfc1572)) - which we don't handle
42. Charset ([RFC2066](http://www.iana.org/go/rfc2066)) - which we don't handle (but may wish to in the future)
1.  Echo - ([RFC857](http://www.iana.org/go/rfc857))

\<aside>that last one we do not currently do but we should - in the context where it is used the Server is tell us at that point that it is NOT going to echo the text that it has RECEIVED from us back to US.  What might not be obvious is that previously it would have sent a IAC WILL ECHO - it WILL echo the text it gets from us; that was done at the point where we would be sending a password to it and it relies on the almost essential convention that when it is doing the echoing of what **it** gets from **us**, *we* **must not show the text we are sending to it**.  What is broken in that aspect of things in Mudlet is that the "Input line" option "Show the text you send" should be forcibly disabled for the period of time that the Server has sent IAC WILL ECHO and we have acknowledged/agreed to that with a following IAC DO ECHO.  We do not do that but we could do and it would hide password entries from the text logs...\</aside>

tl;dr; I think Materia Magica is working out that it is talking to a **Mudlet** Client and is currently coded to **not** enable *256-color* for us...!